body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



/*HEADER*/


/*navbar*/
nav {
    font-size: 1.2em;
    background-color: rgba(157, 185, 216, 0.4);
}

.nav-item {
    margin-right: 10px;
}

nav.scroll {
    background-color: rgb(255, 255, 255);
    transition: 1s;
    box-shadow: 0 4px 2px -2px rgba(180, 180, 180, .4);
}



/* CAROUSEL 
===============================*/
#carouselExampleCaptions img {
    height: 100vh;
}

#carouselExampleCaptions {
    border: black solid 2px;
}

#carouselExampleCaptions h5 {
    font-size: 8vh;
    font-weight: bold;
}

#carouselExampleCaptions p {
    font-size: 3vh;
}

.carousel-caption {
    background-color: rgba(128, 128, 128, 0.411);
    border-radius: 15px;
}

/* YOUTUBE VIDEO */

#youtubeVideo iframe {
    height: 40vh;
    width: 100%;
}

#youtubeVideo {
    margin-top: 60px;
    text-align: center;
}

#youtubeVideo h2 {
    color: rgb(53, 53, 149);
    margin-bottom: 1vh;
}
/* ========FORMULES========= */

.formules {
    background-color: #ffffff;
}

.intro-formules {
    text-align: center;
    font-weight: bold;
}

.intro-formules h3 {
    font-size: 35px;
    font-weight: bold;
}


.intro-formules p {
    font-size: 25px;
}

.formule {
    background-color: rgb(182, 245, 245);
    border-radius: 35px;
    border: outset 3px;
    border-color: rgb(0, 217, 255);
}


.formule-titre {
    font-weight: bold;
    font-size: 30px;
}

.formule li {
    list-style-type: none;
    font-size: 15px;
}

.formule p {
    font-size: 20px;
    text-align: center;
}

.formule span {
    font-weight: bold;  
    font-style: initial; 
}

.it {
    font-style: italic;
}

.fa-times {
    color: red;
    font-size: 30px;
}

.fa-check {
    color: green;
    font-size: 25px;
}





/*MAIN*/

.aside_resa {
    margin-top: 60px;
}

input {
    margin: 10px;
}

.resa {
    border: 2px solid black;
    width: 100%;
}
/* ========Bandeau========= */

.bandeau {
    width: 100vw;
    background-color: rgb(0, 217, 255);
    font-size: 20px;
    text-align: center;
}

.fa-plane-departure {
    color:green;
    font-size: 40px;
}

.fa-times {
    color:red;
    font-size: 40px;
}

.fa-award {
    color: gold;
    font-size: 40px;
}



/*PARTENARIA*/

.three_partenaria {
    margin-top: 60px;
}

.three_partenaria h2 {
    text-align: center;
}

.partenaria {
    width: 300px;
    margin: auto;
}

img {
    display: block;
    margin: auto;

}

/*CONTACT*/

.contact {
    margin-top: 60px;
}