/* CAROUSEL
================= */
#carouselExampleCaptions img {
    height: 55vh;
}

#carouselExampleCaptions {
    border: black solid 2px;
}

#carouselExampleCaptions h5 {
    font-size: 8vh;
    font-weight: bold;
}

#carouselExampleCaptions p {
    font-size: 3vh;
}

.carousel-caption {
    background-color: rgba(128, 128, 128, 0.411);
    border-radius: 10px;
}